import 'semantic-ui-css/semantic.min.css'

.App {
  text-align: left;
}

.test-class {
  background-color: blue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #002868;
  height: 200px;
  padding-top: 20px;
  color: blue;
}

h1 {
  color: black;
  /* text-shadow: 1px 1px 1px #DCDCDC; */
}

.Header-title {
  font-size: 2.4em;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 15px;
  font-family: 'Gentium Book Basic', serif;
}

/* font-family: 'Notable'; */

.App-title {
  font-size: 1.5em;
  /* text-align: left; */
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
